In [1]:
import numpy as np
import pandas as pd

In [2]:
nfold = 5
seed = 12

In [4]:
train_df = pd.read_csv('../input/bengaliai-cv19/train.csv')
train_df

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme
0,Train_0,15,9,5,ক্ট্রো
1,Train_1,159,0,0,হ
2,Train_2,22,3,5,খ্রী
3,Train_3,53,2,2,র্টি
4,Train_4,71,9,5,থ্রো
...,...,...,...,...,...
200835,Train_200835,22,7,2,র্খে
200836,Train_200836,65,9,0,ত্তো
200837,Train_200837,2,1,4,অ্যা
200838,Train_200838,152,9,0,স্নো
200839,Train_200839,127,2,0,ল্টি

In [16]:
train_df['id'] = train_df['image_id'].apply(lambda x: int(x.split('_')[1]))
train_df

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme,id
0,Train_0,15,9,5,ক্ট্রো,0
1,Train_1,159,0,0,হ,1
2,Train_2,22,3,5,খ্রী,2
3,Train_3,53,2,2,র্টি,3
4,Train_4,71,9,5,থ্রো,4
...,...,...,...,...,...,...
200835,Train_200835,22,7,2,র্খে,200835
200836,Train_200836,65,9,0,ত্তো,200836
200837,Train_200837,2,1,4,অ্যা,200837
200838,Train_200838,152,9,0,স্নো,200838
200839,Train_200839,127,2,0,ল্টি,200839

In [21]:
X, y = train_df['id'].values, train_df.values[:,1:]

In [22]:
X

array([     0,      1,      2, ..., 200837, 200838, 200839], dtype=int64)

In [23]:
y

array([[15, 9, 5, 'ক্ট্রো', 0],
       [159, 0, 0, 'হ', 1],
       [22, 3, 5, 'খ্রী', 2],
       ...,
       [2, 1, 4, 'অ্যা', 200837],
       [152, 9, 0, 'স্নো', 200838],
       [127, 2, 0, 'ল্টি', 200839]], dtype=object)

In [24]:
train_df['fold'] = np.nan
train_df

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme,id,fold
0,Train_0,15,9,5,ক্ট্রো,0,NaN
1,Train_1,159,0,0,হ,1,NaN
2,Train_2,22,3,5,খ্রী,2,NaN
3,Train_3,53,2,2,র্টি,3,NaN
4,Train_4,71,9,5,থ্রো,4,NaN
...,...,...,...,...,...,...,...
200835,Train_200835,22,7,2,র্খে,200835,NaN
200836,Train_200836,65,9,0,ত্তো,200836,NaN
200837,Train_200837,2,1,4,অ্যা,200837,NaN
200838,Train_200838,152,9,0,স্নো,200838,NaN
200839,Train_200839,127,2,0,ল্টি,200839,NaN

In [25]:
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold

In [26]:
mskf = MultilabelStratifiedKFold(n_splits=nfold, random_state=seed)
for i, (_, test_index) in enumerate(mskf.split(X, y)):
    train_df.iloc[test_index, -1] = i

C:\Users\naoya\Anaconda3\envs\fastai-v1\lib\site-packages\sklearn\model_selection\_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [28]:
train_df['fold'] = train_df['fold'].astype('int')
train_df

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme,id,fold
0,Train_0,15,9,5,ক্ট্রো,0,3
1,Train_1,159,0,0,হ,1,2
2,Train_2,22,3,5,খ্রী,2,4
3,Train_3,53,2,2,র্টি,3,2
4,Train_4,71,9,5,থ্রো,4,1
...,...,...,...,...,...,...,...
200835,Train_200835,22,7,2,র্খে,200835,0
200836,Train_200836,65,9,0,ত্তো,200836,4
200837,Train_200837,2,1,4,অ্যা,200837,1
200838,Train_200838,152,9,0,স্নো,200838,2
200839,Train_200839,127,2,0,ল্টি,200839,3